* {
    background-color: rgb(29, 29, 29);
    overflow: hidden;
}

@media only screen and (max-width: 450px) {
    .res {
        width: 100vw;
        height: 100%;
    }
    .page {
        padding-left: 35px;
    }
    .sidebar a img.m_dir {
        margin-left: -1px;
        height: 25px;
        width: 25px;
        margin-bottom: 11px;
    }
    h1 {
        font-size: 35px;
    }
    ul li img.m {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
    }
    .html-tags {
        font-size: x-small;
        padding-left: 60px;
        padding-top: 50px;
    }
    .html_tags {
        font-size: x-small;
        padding-left: 60px;
        padding-top: 78px;
    }
    .html-tag {
        font-size: x-small;
        padding-left: 40px;
        cursor: pointer;
    }
    .html-h1 {
        font-size: x-small;
        padding-left: 58px;
        padding-top: 140px;
    }
    .html_h1 {
        font-size: x-small;
    }
    .sidebar {
        height: 100%;
        width: 35px;
    }
    .sidebar a {
        padding: 6px 6px 6px 7px;
        font-size: 15px;
    }
    ul li {
        font-weight: bold;
        float: left;
        color: aqua;
    }
    .logo {
        margin-top: -25px;
        margin-left: 40px;
        width: 350px;
        height: 350px;
    }
    .m_direct {
        height: 150px;
        width: 150px;
        margin-top: 5px;
        margin-left: 35px;
    }
    .gallery {
        margin-top: 10px;
        margin-left: 65px;
    }
    .gallery img {
        padding: 10px;
        width: 150px;
        height: 100px;
    }
}

@media only screen and (min-width: 450px) {
    .page {
        padding-left: 35px;
    }
    .sidebar a img.m_dir {
        margin-left: -12px;
        height: 50px;
        width: 50px;
    }
    h1 {
        font-size: 55px;
        font-weight: bolder;
        margin-left: 95px;
    }
    ul li img.m {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    .html-tags {
        font-size: small;
        padding-left: 100px;
        padding-top: 50px;
        cursor: pointer;
    }
    .html_tags {
        font-size: small;
        padding-left: 100px;
        cursor: pointer;
        margin-top: 63px;
    }
    .html-tag {
        font-size: small;
        padding-left: 80px;
        cursor: pointer;
    }
    .html-h1 {
        font-size: small;
        padding-left: 150px;
        padding-top: 40px;
        cursor: pointer;
    }
    .html_h1 {
        font-size: small;
        cursor: pointer;
    }
    .sidebar {
        height: 100%;
        width: 60px;
    }
    .sidebar a {
        padding: 6px 8px 6px 16px;
        font-size: 20px;
    }
    ul li {
        font-weight: bold;
        float: left;
        color: aqua;
    }
    .logo {
        margin-top: -235px;
        margin-left: 465px;
        height: 800px;
        width: 800px;
    }
    .m_direct {
        height: 250px;
        width: 250px;
        margin-top: 5px;
        margin-left: 60px;
    }
    .gallery {
        margin-top: 10px;
        margin-left: 160px;
    }
    .gallery img {
        padding: 10px;
        width: 300px;
        height: 200px;
    }
}

.page {
    animation: move reverse 0.01s;
    animation-delay: 2s;
}

.gallery {
    position: relative;
    z-index: 9999;
    background: transparent;
}

.gallery img {
    transition: 1s;
}

.gallery img:hover {
    transform: scale(1.02);
}

.logo {
    opacity: 0.5;
    z-index: 1;
    transform: rotateZ(-30deg);
    position: absolute;
    background: transparent;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#copy {
    color: white;
    background: transparent;
    padding-top: 10px;
    text-align: center;
}

a:hover {
    color: rgb(29, 29, 29);
    text-decoration: none;
    cursor: pointer;
}

.sidebar a img.m_dir {
    background: transparent;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes move {
    0% {
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-right: 0%;
        width: auto;
    }
    100% {
        margin-left: 100%;
        margin-top: 100%;
        margin-bottom: 100%;
        margin-right: 100%;
        width: auto;
    }
}

ul li:nth-child(1) {
    animation: move reverse 0.7s;
}

ul li:nth-child(2) {
    animation: move reverse 0.8s;
}

ul li:nth-child(3) {
    animation: move reverse 0.9s;
}

ul li:nth-child(4) {
    animation: move reverse 1.0s;
}

ul li:nth-child(5) {
    animation: move reverse 1.1s;
}

ul li:nth-child(6) {
    animation: move reverse 1.2s;
}

ul li:nth-child(7) {
    animation: move reverse 1.3s;
}

ul li:nth-child(8) {
    animation: move reverse 1.4s;
}

ul li:nth-child(9) {
    animation: move reverse 1.5s;
}

ul li:nth-child(10) {
    animation: move reverse 1.6s;
}

ul li:hover {
    color: rgb(251, 12, 84);
    cursor: context-menu;
}

.html-tags {
    font-style: italic;
    font-family: cursive;
    color: lightslategrey;
    animation: move reverse 0.5s;
}

.m_direct {
    background: transparent;
}

.html_tags {
    font-style: italic;
    font-family: cursive;
    color: lightslategrey;
    animation: move reverse 1.7s;
    position: relative;
    background: transparent;
}

.html-tag {
    font-style: italic;
    font-family: cursive;
    color: lightslategrey;
    animation: move reverse 1.8s;
    position: relative;
    background: transparent;
}

.html-h1 {
    font-style: italic;
    font-family: cursive;
    color: lightslategrey;
    animation: move reverse 0.6s;
}

.html_h1 {
    font-style: italic;
    font-family: cursive;
    color: lightslategrey;
    animation: move reverse 1.4s;
}

.sidebar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.sidebar a {
    text-decoration: none;
    color: #818181;
    display: block;
}

.sidebar a :hover {
    color: aqua;
}

i {
    background: transparent;
}

#fb {
    padding-left: 5px;
}

#git {
    padding-left: 3px;
}

#twitter {
    padding-left: 3px;
}

#insta {
    padding-left: 2px;
}

#link {
    padding-left: 3px;
}

#fb:hover {
    color: #1877f2;
}

#git:hover {
    color: #6e5494;
}

#twitter:hover {
    color: #1da1f2;
}

#link:hover {
    color: #007bb5;
}

#insta:hover {
    color: #c32aa3;
}

.loader-container {
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(251, 12, 84);
}

.loader-container img.m_dir {
    height: 50px;
    width: 50px;
    background: transparent;
    margin-bottom: 130px;
}

.think {
    margin-bottom: 10px;
    margin-left: -90px;
    color: aqua;
    background: transparent;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: rgb(251, 12, 84);
    border-radius: 50%;
    margin-top: 100px;
    margin-left: -90px;
    border-top-color: transparent;
    animation: loader 1.25s linear infinite;
}

@keyframes loader {
    25% {
        color: aqua;
    }
    50% {
        color: rgb(251, 12, 84);
    }
    75% {
        color: aqua;
    }
    to {
        transform: rotate(360deg);
    }
}