* {
    background-color: black;
    overflow: hidden;
}

.page {
    padding-left: 170px;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 55px;
    font-weight: bolder;
    color: white;
}

p {
    font-style: oblique;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgray;
}

.contact {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid aqua;
    color: aqua;
    box-sizing: border-box;
    padding: 12px 10px 10px 10px;
    width: 170px;
    height: 50px;
    margin-left: 170px;
}

.html-tags {
    font-style: italic;
    font-family: cursive;
    font-size: large;
    color: lightslategrey;
    padding-left: 100px;
    padding-top: 50px;
}

.html_tags {
    font-style: italic;
    font-family: cursive;
    font-size: large;
    color: lightslategrey;
    padding-left: 100px;
    padding-top: 140px;
}

.html-tag {
    font-style: italic;
    font-family: cursive;
    font-size: large;
    color: lightslategrey;
    padding-left: 80px;
}

.html-h1 {
    font-style: italic;
    font-family: cursive;
    font-size: large;
    color: lightslategrey;
    padding-left: 150px;
    padding-top: 140px;
}

.html_h1 {
    font-style: italic;
    font-family: cursive;
    font-size: large;
    color: lightslategrey;
}

.main,
.html_h1 {
    display: inline;
}

.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: aqua;
}

i {
    background: transparent;
}