            * {
                background-color: rgb(29, 29, 29);
                overflow: hidden;
            }
            
            .responsive {
                position: relative;
                width: 100%;
                min-height: 100vh;
                background-size: cover;
                align-items: center;
            }
            
            .page {
                padding-left: 125px;
                animation: move reverse 0.01s;
            }
            
            a:hover {
                color: white;
                text-decoration: none;
                cursor: pointer;
            }
            
            .sidebar a img.m_dir {
                margin-left: -12px;
                height: 50px;
                width: 50px;
                background: transparent;
            }
            
            h1 {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-style: normal;
                font-size: 55px;
                font-weight: bolder;
                color: white;
                white-space: nowrap;
                overflow: hidden;
            }
            
            #fp {
                font-style: normal;
                font-size: medium;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: darkgray;
                padding-left: 40px;
                cursor: pointer;
            }
            
            ul li {
                font-weight: bold;
                float: left;
            }
            
            @keyframes move {
                0% {
                    margin-left: 0%;
                    margin-top: 0%;
                    margin-bottom: 0%;
                    margin-right: 0%;
                    width: auto;
                }
                100% {
                    margin-left: 100%;
                    margin-top: 100%;
                    margin-bottom: 100%;
                    margin-right: 100%;
                    width: auto;
                }
            }
            
            ul li:nth-child(1) {
                animation: move reverse 0.3s;
            }
            
            ul li:nth-child(2) {
                animation: move reverse 0.4s;
            }
            
            ul li:nth-child(3) {
                animation: move reverse 0.5s;
            }
            
            ul li:nth-child(4) {
                animation: move reverse 0.6s;
            }
            
            ul li:nth-child(5) {
                animation: move reverse 0.7s;
            }
            
            ul li:nth-child(6) {
                animation: move reverse 0.8s;
            }
            
            ul li:nth-child(7) {
                animation: move reverse 0.9s;
            }
            
            ul li:nth-child(8) {
                animation: move reverse 1.0s;
            }
            
            ul li:nth-child(9) {
                animation: move reverse 1.1s;
            }
            
            ul li:nth-child(10) {
                animation: move reverse 1.2s;
            }
            
            ul li:nth-child(11) {
                animation: move reverse 1.3s;
            }
            
            ul li:nth-child(12) {
                animation: move reverse 1.4s;
            }
            
            ul li:nth-child(13) {
                animation: move reverse 1.5s;
            }
            
            ul li:nth-child(14) {
                animation: move reverse 1.6s;
            }
            
            ul li:nth-child(15) {
                animation: move reverse 1.7s;
            }
            
            ul li:nth-child(16) {
                animation: move reverse 1.8s;
            }
            
            ul li:nth-child(17) {
                animation: move reverse 1.9s;
            }
            
            ul li:nth-child(18) {
                animation: move reverse 2.0s;
            }
            
            ul li:nth-child(19) {
                animation: move reverse 2.1s;
            }
            
            ul li:nth-child(20) {
                animation: move reverse 2.2s;
            }
            
            ul li:nth-child(21) {
                animation: move reverse 2.3s;
            }
            
            ul li:nth-child(22) {
                animation: move reverse 2.4s;
            }
            
            ul li:nth-child(23) {
                animation: move reverse 2.5s;
            }
            
            ul li:nth-child(24) {
                animation: move reverse 2.6s;
            }
            
            ul li:nth-child(25) {
                animation: move reverse 2.7s;
            }
            
            ul li:nth-child(26) {
                animation: move reverse 2.8s;
            }
            
            ul li:nth-child(27) {
                animation: move reverse 2.9s;
            }
            
            ul li:nth-child(28) {
                animation: move reverse 3.0s;
            }
            
            ul li:nth-child(29) {
                animation: move reverse 3.1s;
            }
            
            ul li img.m {
                width: 40px;
                height: 40px;
                margin-bottom: 10px;
                animation: ro linear 1s;
                animation-delay: 1.1s;
            }
            
            @keyframes ro {
                0% {
                    transform: rotate(60deg);
                }
                25% {
                    transform: rotate(0deg);
                }
                50% {
                    transform: rotate(-30deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }
            
            .slant-m {
                margin-top: -700px;
                margin-left: 800px;
                height: 600px;
                width: 600px;
            }
            
            ul li:hover {
                color: aqua;
                cursor: context-menu;
                transform: skewY(180deg);
            }
            
            .contact {
                font-style: italic;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                border: 1px solid aqua;
                color: aqua;
                box-sizing: border-box;
                padding: 12px 10px 10px 10px;
                width: 170px;
                height: 50px;
                margin-left: 165px;
            }
            
            .contact:hover {
                font-style: italic;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                border: 1px solid aqua;
                color: black;
                background-color: aqua;
                box-sizing: border-box;
                padding: 12px 10px 10px 10px;
                width: 170px;
                height: 50px;
                margin-left: 170px;
            }
            
            .html-tags {
                font-style: italic;
                font-family: cursive;
                font-size: small;
                color: lightslategrey;
                padding-left: 100px;
                padding-top: 50px;
                animation: move reverse 0.1s;
                cursor: pointer;
            }
            
            .html_tags {
                font-style: italic;
                font-family: cursive;
                font-size: small;
                color: lightslategrey;
                padding-left: 100px;
                padding-top: 140px;
                animation: move reverse 3.5s;
                cursor: pointer;
            }
            
            .html-tag {
                font-style: italic;
                font-family: cursive;
                font-size: small;
                color: lightslategrey;
                padding-left: 80px;
                animation: move reverse 3.6s;
                cursor: pointer;
            }
            
            .html-h1 {
                font-style: italic;
                font-family: cursive;
                font-size: small;
                color: lightslategrey;
                padding-left: 150px;
                padding-top: 140px;
                animation: move reverse 0.2s;
                cursor: pointer;
            }
            
            .html_h1 {
                font-style: italic;
                font-family: cursive;
                font-size: small;
                color: lightslategrey;
                animation: move reverse 3.2s;
                cursor: pointer;
            }
            
            .main,
            .html_h1 {
                display: inline;
            }
            
            .sidebar {
                height: 100%;
                width: 60px;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
            }
            
            .sidebar a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
            }
            
            .sidebar a :hover {
                color: aqua;
            }
            
            i {
                background: transparent;
            }
            
            #fb {
                padding-left: 5px;
            }
            
            #git {
                padding-left: 3px;
            }
            
            #twitter {
                padding-left: 3px;
            }
            
            #insta {
                padding-left: 2px;
            }
            
            #link {
                padding-left: 3px;
            }
            
            #fb:hover {
                color: #1877f2;
            }
            
            #git:hover {
                color: #6e5494;
            }
            
            #twitter:hover {
                color: #1da1f2;
            }
            
            #link:hover {
                color: #007bb5;
            }
            
            #insta:hover {
                color: #c32aa3;
            }
            
            .loader-container {
                width: 100%;
                height: 100vh;
                background-color: #111;
                position: fixed;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgb(251, 12, 84);
            }
            
            .loader-container img.m_dir {
                height: 50px;
                width: 50px;
                background: transparent;
                margin-bottom: 130px;
            }
            
            .think {
                margin-bottom: 10px;
                margin-left: -90px;
                color: aqua;
                background: transparent;
            }
            
            .loader {
                width: 50px;
                height: 50px;
                border: 5px solid;
                color: rgb(251, 12, 84);
                border-radius: 50%;
                margin-top: 100px;
                margin-left: -90px;
                border-top-color: transparent;
                animation: loader 1.25s linear infinite;
            }
            
            @keyframes loader {
                25% {
                    color: aqua;
                }
                50% {
                    color: rgb(251, 12, 84);
                }
                75% {
                    color: aqua;
                }
                to {
                    transform: rotate(360deg);
                }
            }
