* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

@media(max-width: 2560px) {
    html {
        font-size: 65%;
    }
    .html-body_h1 {
        top: 12.5rem;
        left: 12.0rem;
    }
}

@media(max-width: 1600px) {
    html {
        font-size: 65%;
    }
    .html-body_h1 {
        top: 12.5rem;
        left: 12.0rem;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 32%;
    }
    .html-body_h1 {
        top: 10.5rem;
        left: 10.0rem;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 35%;
    }
    .html-body_h1 {
        top: 10.5rem;
        left: 10.0rem;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 29.5%;
    }
    .html-body_h1 {
        top: 10.5rem;
        left: 10.0rem;
    }
}

@media(max-width: 390px) {
    html {
        font-size: 26.5%;
    }
    .html-body_h1 {
        top: 10.5rem;
        left: 10.0rem;
    }
}

@media(max-width: 320px) {
    html {
        font-size: 21%;
    }
    .html-body_h1 {
        top: 10.5rem;
        left: 8.0rem;
    }
}

.container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background: rgb(29, 29, 29);
    justify-content: center;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    height: 100vh;
    width: 5rem;
    text-align: center;
    place-items: center;
}

.sidebar1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    place-items: center;
}

.sidebar2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    place-items: center;
    position: absolute;
    bottom: 15rem;
}

.sidebar a img.m_dir {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 10rem;
}

.sidebar1 a i {
    text-decoration: none;
    color: #818181;
    display: block;
    padding: .5rem;
    font-size: 2.0rem;
    margin-top: 2rem;
}

.sidebar2 a i {
    text-decoration: none;
    color: #818181;
    display: block;
    padding: 0.5rem;
    font-size: 1.75rem;
}

.sidebar1 a:nth-child(6) {
    margin-left: -.6rem;
}

.sidebar a :hover {
    color: aqua;
}

.sidebar a img.m_dir {
    background: transparent;
}

i {
    background: transparent;
}

.page {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vh;
    place-items: center;
    left: 15rem;
    top: 15rem;
}

.page,
.html_h1 {
    display: inline;
}

.M {
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 1.0rem;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: aqua;
    white-space: nowrap;
    overflow: hidden;
    font-size: 6.0rem;
    pointer-events: none;
}

.slider {
    position: absolute;
    display: flex;
    top: 25rem;
    left: 15rem;
    height: 40rem;
    width: 83%;
    padding-right: 10rem;
    background-color: #fff;
}

#copy {
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    text-align: center;
    position: relative;
    pointer-events: none;
    font-size: 1.25rem;
}

.html-body-h1 {
    font-style: italic;
    font-family: cursive;
    color: lightslategrey;
    position: relative;
    background: transparent;
    pointer-events: none;
    top: 5.5rem;
    left: 7.0rem;
    font-size: 1.25rem;
}

.html-body_h1 {
    font-style: italic;
    font-family: cursive;
    color: lightslategrey;
    position: relative;
    background: transparent;
    pointer-events: none;
    font-size: 1.25rem;
}

.html-body-html {
    font-style: italic;
    font-family: cursive;
    color: lightslategrey;
    position: absolute;
    background: transparent;
    pointer-events: none;
    bottom: 15.5rem;
    left: 5.5rem;
    font-size: 1.25rem;
}

.html-body-html span:nth-child(1) {
    margin-left: 2.5rem;
}

.html_h1 {
    font-style: italic;
    font-family: cursive;
    color: lightslategrey;
    position: relative;
    background: transparent;
    pointer-events: none;
    font-size: 1.25rem;
}

#fb:hover {
    color: #3b5999;
}

#git:hover {
    color: #6e5494;
}

#twitter:hover {
    color: #55acee;
}

#link:hover {
    color: #0077B5;
}

#insta:hover {
    color: #e4405f;
}