            * {
                margin: 0%;
                padding: 0%;
                box-sizing: border-box;
                overflow: hidden;
            }
            
            html {
                font-size: 62.5%;
            }
            
            @media(max-width: 2560px) {
                html {
                    font-size: 65%;
                }
            }
            
            @media(max-width: 1600px) {
                html {
                    font-size: 65%;
                }
            }
            
            @media(max-width: 1200px) {
                html {
                    font-size: 32%;
                }
            }
            
            @media(max-width: 768px) {
                html {
                    font-size: 35%;
                }
            }
            
            @media(max-width: 450px) {
                html {
                    font-size: 29.5%;
                }
            }
            
            @media(max-width: 390px) {
                html {
                    font-size: 26.5%;
                }
            }
            
            @media(max-width: 320px) {
                html {
                    font-size: 23%;
                }
            }
            
            .container {
                position: relative;
                min-height: 100vh;
                min-width: 100vw;
                background: rgb(29, 29, 29);
                justify-content: center;
            }
            
            .sidebar {
                position: fixed;
                display: flex;
                flex-direction: column;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                height: 100vh;
                width: 5rem;
                text-align: center;
                place-items: center;
            }
            
            .sidebar1 {
                display: flex;
                flex-direction: column;
                text-align: center;
                place-items: center;
            }
            
            .sidebar2 {
                display: flex;
                flex-direction: column;
                text-align: center;
                place-items: center;
                position: absolute;
                bottom: 5rem;
            }
            
            .sidebar a img.m_dir {
                position: relative;
                width: 4.5rem;
                height: 4.5rem;
                margin-bottom: 10rem;
            }
            
            .sidebar1 a i {
                text-decoration: none;
                color: #818181;
                display: block;
                padding: .5rem;
                font-size: 2.0rem;
                margin-top: 2rem;
            }
            
            .sidebar2 a i {
                text-decoration: none;
                color: #818181;
                display: block;
                padding: 0.5rem;
                font-size: 1.75rem;
            }
            
            .sidebar a :hover {
                color: aqua;
            }
            
            .sidebar a img.m_dir {
                background: transparent;
            }
            
            i {
                background: transparent;
            }
            
            .page {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100vh;
                place-items: center;
                left: 15rem;
                top: 15rem;
            }
            
            .page,
            .html_h1 {
                display: inline;
            }
            
            a:hover {
                text-decoration: none;
                cursor: pointer;
            }
            
            h1 {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-style: normal;
                font-weight: bolder;
                color: aqua;
                white-space: nowrap;
                overflow: hidden;
                font-size: 6.0rem;
                pointer-events: none;
            }
            
            #fp {
                font-style: normal;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: darkgray;
                pointer-events: none;
                font-size: 1.5rem;
            }
            
            #copy {
                color: white;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                text-align: center;
                position: relative;
                pointer-events: none;
                font-size: 1.25rem;
            }
            
            .mail {
                position: absolute;
                font-style: italic;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                border: .1rem solid aqua;
                color: aqua;
                box-sizing: border-box;
                width: 21.0rem;
                height: 5.0rem;
                text-align: center;
                font-size: 1.6rem;
                padding: 1.4rem;
                top: 40rem;
                left: 40rem;
                transition: 0.5s linear;
            }
            
            .contact {
                position: absolute;
                font-style: italic;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                border: .1rem solid aqua;
                color: aqua;
                box-sizing: border-box;
                width: 21.0rem;
                height: 5.0rem;
                text-align: center;
                font-size: 1.6rem;
                padding: 1.4rem;
                top: 48rem;
                left: 40rem;
                transition: 0.5s linear;
            }
            
            .contact:hover,
            .mail:hover {
                color: rgb(29, 29, 29);
                background-color: aqua;
                color: rgb(29, 29, 29);
                font-weight: bolder;
            }
            
            .html-body-h1 {
                font-style: italic;
                font-family: cursive;
                color: lightslategrey;
                position: relative;
                background: transparent;
                pointer-events: none;
                top: 5.5rem;
                left: 7.0rem;
                font-size: 1.25rem;
            }
            
            .html-body_h1 {
                font-style: italic;
                font-family: cursive;
                color: lightslategrey;
                position: relative;
                background: transparent;
                pointer-events: none;
                top: 12.5rem;
                left: 12.0rem;
                font-size: 1.25rem;
            }
            
            .html-body-html {
                font-style: italic;
                font-family: cursive;
                color: lightslategrey;
                position: absolute;
                background: transparent;
                pointer-events: none;
                bottom: 5.5rem;
                left: 5.5rem;
                font-size: 1.25rem;
            }
            
            .html-body-html span:nth-child(1) {
                margin-left: 2.5rem;
            }
            
            .html_h1 {
                font-style: italic;
                font-family: cursive;
                color: lightslategrey;
                position: relative;
                background: transparent;
                pointer-events: none;
                font-size: 1.25rem;
            }
            
            #fb:hover {
                color: #1877f2;
            }
            
            #git:hover {
                color: #6e5494;
            }
            
            #twitter:hover {
                color: #1da1f2;
            }
            
            #link:hover {
                color: #007bb5;
            }
            
            #insta:hover {
                color: #c32aa3;
            }
            
            #map {
                position: absolute;
                height: 78.0rem;
                width: 75.0rem;
                background-color: rgb(29, 29, 29);
                fill: black;
                top: 0;
                right: 0;
            }
            
            .m_direct {
                position: absolute;
                height: 25rem;
                width: 25rem;
                left: 10rem;
                top: 30rem;
                background: transparent;
            }
            
            .M {
                width: 4.5rem;
                height: 4.5rem;
                margin-bottom: 1.0rem;
            }
            
            .im,
            .image {
                display: inline-block;
            }
            
            .loader-container {
                width: 100%;
                height: 100vh;
                background-color: #111;
                position: fixed;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .loader-container img.m_dir {
                height: 5.0rem;
                width: 5.0rem;
                background: transparent;
                margin-bottom: 13.0rem;
            }
            
            .think {
                margin-bottom: 1.0rem;
                margin-left: -9.0rem;
                color: aqua;
                background: transparent;
            }
            
            .loader {
                width: 5.0rem;
                height: 5.0rem;
                border: .5rem solid;
                color: rgb(251, 12, 84);
                border-radius: 50%;
                margin-top: 10.0rem;
                margin-left: -9.0rem;
                border-top-color: transparent;
                animation: loader 1.25s linear infinite;
            }
            
            @keyframes loader {
                25% {
                    color: aqua;
                }
                50% {
                    color: rgb(251, 12, 84);
                }
                75% {
                    color: aqua;
                }
                to {
                    transform: rotate(360deg);
                }
            }