* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

@font-face {
  font-family: Coolvetica Rg;
  font-weight: bold;
  src: url('coolvetica rg.ttf');
}

html {
  font-size: 62.5%;
}

@media(max-width: 2560px) {
  html {
    font-size: 65%;
  }
}

@media(max-width: 1600px) {
  html {
    font-size: 60%;
  }
}

@media(max-width: 1200px) {
  html {
    font-size: 32%;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 34%;
  }
}

@media(max-width: 450px) {
  html {
    font-size: 27.0%;
  }

  .slant-m {
    display: none;
  }
}

@media(max-width: 390px) {
  html {
    font-size: 24.5%;
  }

  .slant-m {
    display: none;
  }
}

@media(max-width: 320px) {
  html {
    font-size: 22.5%;
  }

  .slant-m {
    display: none;
  }
}

@media(max-width: 280px) {
  html {
    font-size: 19.5%;
  }

  .slant-m {
    display: none;
  }
}

.container {
  position: fixed;
  display: flex;
  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: rgb(29, 29, 29);
}

nav {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  /* font-family: 'Montserrat', sans-serif; */
  /* padding: 0 5%; */
  height: 100vh;
  width: 12rem;
  overflow: hidden;
  background-color: rgb(255, 255, 255, .1);
  /* text-align: center; */
  border-right: .1rem solid rgb(29, 29, 29);
}

nav a img.m_dir {
  /* float: left; */
  /* width: 40%;
	height: 100%; */
  /* display: flex; */
  /* align-items: center; */
  /* font-size: 24px; */
  /* color: #fff; */
  display: block;
  width: 7rem;
  height: 7rem;
  background-size: contain;
  margin: 2.5rem 2.5rem;
  /* transition: all 1s linear; */
}

nav .links a {
  text-decoration: none;
  color: #818181;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 2rem;
  width: 100%;
  overflow: hidden;
  /* transition: all 1s linear; */
  /* float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center; */
}

nav a :hover {
  /* background-color: rgb(255, 255, 255, .05); */
  transform: scale(1.05);
  transition: 0.2s linear;
  color: aqua;
}

/* nav .links li {
	list-style: none;
} */

/* nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
} */

#nav-toggle {
  position: absolute;
  left: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 1.9%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
  /* nav .logo {
    float: none;
    width: auto;
    display: none;
    justify-content: center;
  } */

  /* nav {
    display: flex;
  } */

  nav a img.m_dir {
    display: block;
    width: 15rem;
    height: 15rem;
    background-size: contain;
    margin: 2.5rem 2.5rem;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    bottom: 0;
    top: 0rem;
    width: auto;
    right: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
  }

  nav .links a {
    font-size: 5rem;
  }

  nav :checked~.links {
    right: 0;
  }

  nav .icon-burger {
    display: block;
    /* justify-self: center;
    align-items: center;
    text-align: center; */
  }

  nav :checked~.icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
  }

}

/* .sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255, .1);
  overflow: hidden;
  height: 100vh;
  width: 12rem;
  text-align: center;
  border-right: .1rem solid rgb(29, 29, 29);
}

.sidebar a img.m_dir {
  display: block;
  width: 7rem;
  height: 7rem;
  margin: 2.5rem 2.5rem;
  transition: all 1s linear;
}

.sidebar1 a {
  text-decoration: none;
  color: #818181;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 2rem;
  width: 100%;
  overflow: hidden;
  transition: all 1s linear;
}

.sidebar1 a :hover {
  /* background-color: rgb(255, 255, 255, .05); 
  transform: scale(1.05);
  transition: 0.2s linear;
  color: aqua;
} */

nav .sidebar2 {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sidebar2 a :hover {
  background-color: rgb(255, 255, 255, .05);
  transform: scale(1.1);
  transition: 0.2s linear;
}

.sidebar2 a {
  text-decoration: none;
  color: #818181;
  display: inline-flex;
  margin-top: 14rem;
  padding: 0.4rem;
  font-size: 2rem;
  /* transition: all 1s linear; */
}


.sidebar a img.m_dir {
  background: transparent;
}

i {
  background: transparent;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* place-items: center; */
  margin-top: 3rem;
  margin-left: 17rem;
}

.page,
.html_h1 {
  display: inline;
}

.M {
  width: 7rem;
  height: 7rem;
  margin-bottom: 2rem;
  margin-right: -0.85rem;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.page h1 ul li:hover {
  color: aqua;
  transition: 1s linear;
  text-shadow: .5rem .5rem rgb(249, 13, 84);
  -webkit-text-stroke: .1rem transparent;
}

h1 ul li {
  display: inline;
  text-shadow: .5rem .5rem rgb(255, 255, 255, .2);
  /* transition: all 1s linear; */
}


h1 {
  font-family: Coolvetica Rg;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: -1.2rem;
  /* color: transparent; */
  /* -webkit-text-stroke: .1rem #fff; */
  font-size: 10.0rem;
}


.sup {
  font-size: 10rem;
}

.sup:hover {
  color: aqua;
  transition: 1s linear;
  text-shadow: .5rem .5rem rgb(249, 13, 84);
  -webkit-text-stroke: .1rem transparent;
}

#fp {
  font-style: normal;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  color: darkgray;
  letter-spacing: 0.25ch;
  font-size: 1.5rem;
  animation: move alternate-reverse 1s 3.3s;
}

.slant-m {
  position: relative;
  justify-content: center;
  place-items: center;
  height: 58rem;
  /* margin-left: 80rem; */
}

#copy {
  color: white;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  position: relative;
  font-family: 'Roboto Mono', monospace;
  border: .1rem solid aqua;
  color: aqua;
  box-sizing: border-box;
  font-weight: 1000;
  width: 17.0rem;
  height: 5.0rem;
  text-align: center;
  font-size: 1.5rem;
  /* margin-left: 17rem; */
  /* margin-top: 1rem; */
  padding: 1.4rem;
  letter-spacing: .2rem;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem rgb(249, 13, 84);
  animation: moves alternate-reverse 1s 3.4s;
  /* transition: all 1s linear; */
}

.contact:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  content: "";
  background-color: aqua;
}

.contact:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

@keyframes moves {
  0% {
    opacity: 1;
    color: transparent;
    width: 17.0rem;
    height: 5.0rem;
  }

  33% {
    opacity: 1;
    color: aqua;
    width: 17.0rem;
    height: 5.0rem;
    text-shadow: .5rem .5rem rgb(249, 13, 84);
  }

  66% {
    opacity: 1;
    color: rgb(249, 13, 84);
    width: 17.0rem;
    height: 5.0rem;
    text-shadow: .5rem .5rem aqua;
  }

  100% {
    opacity: 1;
    color: white;
    width: 17.0rem;
    height: 5.0rem;
  }
}

.contact:hover {
  position: fixed;
  font-family: 'Roboto Mono', monospace;
  border: .1rem solid aqua;
  color: rgb(29, 29, 29);
  background-color: aqua;
  box-sizing: border-box;
  font-weight: 1000;
  width: 17.0rem;
  height: 5.0rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  transition: 0.5s linear;
  overflow: hidden;
}

.html-body-h1 {
  font-family: 'La Belle Aurore', cursive;
  color: lightslategrey;
  position: fixed;
  background: transparent;
  top: 5.5rem;
  margin-left: 14.0rem;
  font-size: 2rem;
  overflow: hidden;
}

.html-body-h2 {
  font-family: 'La Belle Aurore', cursive;
  color: lightslategrey;
  position: fixed;
  background: transparent;
  top: 8.5rem;
  margin-left: 15.5rem;
  font-size: 2rem;
  overflow: hidden;
}

.html-body_h1 {
  font-family: 'La Belle Aurore', cursive;
  color: lightslategrey;
  position: fixed;
  background: transparent;
  margin-bottom: 37rem;
  margin-left: 15.5rem;
  font-size: 2rem;
  overflow: hidden;
}

.html-body-html {
  font-family: 'La Belle Aurore', cursive;
  color: lightslategrey;
  position: fixed;
  background: transparent;
  bottom: 4.5rem;
  margin-left: 14.0rem;
  font-size: 2rem;
  overflow: hidden;
}

.html-body-html span:nth-child(1) {
  margin-left: 2.5rem;
}

.html_h1 {
  font-family: 'La Belle Aurore', cursive;
  color: lightslategrey;
  position: absolute;
  background: transparent;
  font-size: 2rem;
  margin-left: 65rem;
  /* margin-top: -10rem; */
  overflow: hidden;
}

.br {
  display: block;
  margin-bottom: -3rem;
}


#fb:hover {
  color: #3b5999;
}

#git:hover {
  color: #6e5494;
}

#twitter:hover {
  color: #55acee;
}

#link:hover {
  color: #0077B5;
}

#insta:hover {
  color: #e4405f;
}

@keyframes move {
  0% {
    opacity: 0;
    color: transparent;
    width: auto;
  }

  33% {
    opacity: 1;
    color: aqua;
    width: auto;
    text-shadow: .5rem .5rem rgb(249, 13, 84);
  }

  66% {
    opacity: 1;
    color: rgb(249, 13, 84);
    width: auto;
    text-shadow: .5rem .5rem aqua;
  }

  100% {
    opacity: 1;
    color: transparent;
    width: auto;
  }
}


h1 ul li:nth-child(1) {
  animation: move alternate-reverse 1s 0.3s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(2) {
  animation: move alternate-reverse 1s 0.4s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(3) {
  animation: move alternate-reverse 1s 0.5s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(4) {
  animation: move alternate-reverse 1s 0.6s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(5) {
  animation: move alternate-reverse 1s 0.7s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(6) {
  animation: move alternate-reverse 1s 0.8s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(7) {
  animation: move alternate-reverse 1s 0.9s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(8) {
  animation: move alternate-reverse 1s 1.0s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(9) {
  animation: move alternate-reverse 1s 1.1s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(10) {
  animation: move alternate-reverse 1s 1.2s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(11) {
  animation: move alternate-reverse 1s 1.3s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(12) {
  animation: move alternate-reverse 1s 1.4s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(13) {
  animation: move alternate-reverse 1s 1.5s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(14) {
  animation: move alternate-reverse 1s 1.6s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(15) {
  animation: move alternate-reverse 1s 1.7s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(16) {
  animation: move alternate-reverse 1s 1.8s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(17) {
  animation: move alternate-reverse 1s 1.9s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(18) {
  animation: move alternate-reverse 1s 2.0s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(19) {
  animation: move alternate-reverse 1s 2.1s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(20) {
  animation: move alternate-reverse 1s 2.2s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(21) {
  animation: move alternate-reverse 1s 2.3s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(22) {
  animation: move alternate-reverse 1s 2.4s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(23) {
  animation: move alternate-reverse 1s 2.5s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(24) {
  animation: move alternate-reverse 1s 2.6s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(25) {
  animation: move alternate-reverse 1s 2.7s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(26) {
  animation: move alternate-reverse 1s 2.8s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(27) {
  animation: move alternate-reverse 1s 2.9s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(28) {
  animation: move alternate-reverse 1s 3.0s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

h1 ul li:nth-child(29) {
  animation: move alternate-reverse 1s 3.1s;
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
  text-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .2);
}

.videoback {
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  animation: fade alternate 5s infinite;
}

@keyframes fade {
  0% {
    opacity: 0.1;
  }

  10% {
    opacity: 0.15;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.25;
  }

  40% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.35;
  }

  60% {
    opacity: 0.4;
  }

  70% {
    opacity: 0.45;
  }

  80% {
    opacity: 0.5;
  }

  90% {
    opacity: 0.55;
  }

  100% {
    opacity: 0.6;
  }
}