* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

@font-face {
    font-family: Coolvetica Rg;
    font-weight: bold;
    src: url('coolvetica rg.ttf');
  }

html {
    font-size: 62.5%;
}

@media(max-width: 2560px) {
    html {
        font-size: 65%;
    }
}

@media(max-width: 1600px) {
    html {
        font-size: 65%;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 32%;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 35%;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 29.5%;
    }
    .mp {display: none;}
}

@media(max-width: 390px) {
    html {
        font-size: 26.5%;
    }
    .mp {display: none;}
}

@media(max-width: 320px) {
    html {
        font-size: 21%;
    }
    .mp {display: none;}
} 

.container {
    position: fixed;
    display: flex;
    place-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: rgb(29, 29, 29);
}

.mp {
    position: fixed;
    width: 44rem;
    height: 49rem;
    margin-top: -5rem;
    margin-left: 90rem;
}

.sidebar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    height: 100vh;
    width: 12rem;
    text-align: center;
  }
  
  .sidebar a img.m_dir {
    display: block;
    width: 7rem;
    height: 7rem;
    margin: 2.5rem 2.5rem; 
  }
  
  .sidebar1 a  {
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  .sidebar2 a  {
    text-decoration: none;
    color: #818181;
    display: inline-flex;
    margin-top: 14rem;
    padding: 0.4rem;
    font-size: 1.5rem;
  }
  
  .sidebar1 a:nth-child(6) {
    margin-left: -.6rem;
  }
  
  .sidebar1 a :hover {
    color: aqua;
  }
  
  .sidebar a img.m_dir {
    background: transparent;
  }
  
  i {
    background: transparent;
  }

.page {
    position:fixed;
    display: flex;
    justify-content: center;
    place-items: center;
    margin-bottom: 35rem;
    margin-left: 17rem;
}

.page,
.html_h1 {
    display: inline;
}

.M {
    width: 7.0rem;
    height: 7.0rem;
    margin-bottom: 2.0rem;
    margin-right: 0.55rem;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-family: Coolvetica Rg;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 0rem;
    color: aqua;
    font-size: 10.0rem;
}

 #fp {
    color: white;
    pointer-events: none;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    word-wrap: break-word;
    width: 60rem;
    height: 50rem;
    margin-left: 17rem;
    margin-top: 32rem;
} 

#copy {
    color: white;
    background-color: #111;
    font-size: 1.4rem;
  }


  .html-body-h1 {
    font-family: 'La Belle Aurore', cursive;
    color: lightslategrey;
    position: fixed;
    background: transparent;
    top: 5.5rem;
    margin-left: 14.0rem;
    font-size: 2rem;
    overflow: hidden;
  }

.html-body-h2 {
    font-family: 'La Belle Aurore', cursive;
    color: lightslategrey;
    position: fixed;
    background: transparent;
    top: 8.5rem;
    margin-left: 15.5rem;
    font-size: 2rem;
    overflow: hidden;
}

.html-body_h1 {
    font-family: 'La Belle Aurore', cursive;
    color: lightslategrey;
    position: fixed;
    background: transparent;
    margin-bottom: 47rem;
    margin-left: 15.5rem;
    font-size: 2rem;
    overflow: hidden;
}

.html-body-html {
    font-family: 'La Belle Aurore', cursive;
    color: lightslategrey;
    position: fixed;
    background: transparent;
    bottom: 4.5rem;
    margin-left: 14.0rem;
    font-size: 2rem;
    overflow: hidden;
}

.html-body-html span:nth-child(1) {
    margin-left: 2.5rem;
}

.html_h1 {
    font-family: 'La Belle Aurore', cursive;
    color: lightslategrey;
    position: fixed;
    background: transparent;
    font-size: 2rem;
    margin-left: 2.25rem;
    margin-top: 8.5rem;
    overflow: hidden;
}

#fb:hover {
    color: #3b5999;
}

#git:hover {
    color: #6e5494;
}

#twitter:hover {
    color: #55acee;
}

#link:hover {
    color: #0077B5;
}

#insta:hover {
    color: #e4405f;
}